<div class="panel panel-default" id="config-panel-<%= id %>">
    <div class="panel-heading">
        <h4><%= titre %></h4>
    </div>
    <br/>
    <div class="row panel-body">
        <div class="col-md-3 col-md-offset-1">
            <p>Default layers</p>
        </div>
        <div class="col-md-5 dropdown">
            <select id="availableprojectdefaultlayers" class="form-control">
                <option></option>
            </select>
        </div>
        <div class="col-md-2">
            <a id="projectadddefaultlayersbutton" href="javascript:void(0);" class="btn btn-info">Add</a>
        </div>
    </div>
    <div id="selectedDefaultLayers" class="panel-body">
    </div>
    <br/>
</div>
