*.class
target/*
scripts/yui-compressor-ant-task/*
/grails-app/conf/Config.groovy
.idea
.slcache
node_modules
web-app/application/views/explorer/v2\.0/
!web-app/application/views/explorer/v2\.0/dist/
