<div id="detailedProjectUserInfoDialog" class="modal fade modal-wide">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Detailed informations on user <%= username %> into the project <%= projectName %></h4>
            </div>
            <div class="modal-body">
                <p></p>
                <div class="col-md-9 col-md-offset-1">
                    <div id="BasicUserInfo">
                        <h4 class="header_h"> Basic Informations</h4>
                        <div class="row">
                            <div class="col-md-6">
                                <label class="control-label">User name: </label> <%= username %>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label class="control-label">First name: </label> <%= firstname %>
                            </div>
                            <div class="col-md-6">
                                <label class="control-label">Last name: </label> <%= lastname %>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label class="control-label">E-mail: </label> <%= email %>
                            </div>
                            <div class="col-md-6">
                                <label class="control-label">Created: </label> <%= window.app.convertLongToDate(created) %>
                            </div>
                        </div>
                    </div>
                    <br/>
                    <div id="UserActivitiesInfo-<%= id %>">
                        <h4 class="header_h"> User activities resume</h4>
                        <div class="detailedUserInfoWaitingDiv" class="alert alert-info"><i class="glyphicon glyphicon-refresh"/> Loading...</div>
                        <div class="detailedUserInfoContent">
                            <label class="control-label">Number of connections to this project : </label> <span id ="totalProjectConnexions-<%= id %>"></span> <br/>
                            <!--<label class="control-label">Number of consulted images: </label> <span id ="totalConsultedImages-<%= id %>"></span> <br/>-->
                            <label class="control-label">Number of annotations : </label> <span id ="totalUserAnnotations-<%= id %>"></span> <br/>
                            <label class="control-label">Last connection on the project : </label> <span id ="lastProjectConnexion-<%= id %>"></span> <br/>
                        </div>
                    </div>
                    <br/>
                    <div id="UserActivitiesHistory-<%= id %>">
                        <h4 class="header_h"> User activities history</h4>
                        <div class="detailedUserInfoWaitingDiv" class="alert alert-info"><i class="glyphicon glyphicon-refresh"/> Loading...</div>
                        <div id="treehistory" class="detailedUserInfoContent">
                        </div>
                    </div>

                </div>


            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-default btn-primary"  data-dismiss="modal">Close</a>
            </div>
        </div>
    </div>
</div>
