<div id="detailedUserInfoDialog" class="modal fade modal-wide">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Detailed informations on user <%= username %></h4>
            </div>
            <div class="modal-body">
                <p></p>
                <div class="col-md-9 col-md-offset-1">
                    <form action="/j_spring_security_switch_user" method="POST" class="pull-right">
                        <input type="hidden" name="j_username" value="<%= username %>">
                        <input class="btn btn-danger" type="submit" value="Connect as user <%= username %>">
                    </form>
                    <div id="BasicUserInfo">
                        <h4 class="header_h"> Basic Informations</h4>
                        <div class="row">
                            <div class="col-md-6">
                                <label class="control-label">User name: </label> <%= username %>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label class="control-label">First name: </label> <%= firstname %>
                            </div>
                            <div class="col-md-6">
                                <label class="control-label">Last name: </label> <%= lastname %>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label class="control-label">E-mail: </label> <%= email %>
                            </div>
                            <div class="col-md-6">
                                <label class="control-label">Created: </label> <%= window.app.convertLongToDate(created) %>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label class="control-label">Updated: </label>
                                <%if(updated) {%>
                                <%= window.app.convertLongToDate(updated) %>
                                <%}else{%>
                                No record
                                <%}%>
                            </div>
                            <div class="col-md-6">
                                <label class="control-label">Roles: </label> <span id="userRoles"></span>
                            </div>
                        </div>
                    </div>
                    <br/>
                    <div id="UserActivitiesInfo-<%= id %>">
                        <h4 class="header_h"> User activities resume</h4>
                        <div class="detailedUserInfoWaitingDiv" class="alert alert-info"><i class="glyphicon glyphicon-refresh"/> Loading...</div>
                        <div class="detailedUserInfoContent">
                            <label class="control-label">Number of project (as contributor): </label> <span id ="totalProjectAllowed-<%= id %>"></span> (<a class="lessMore" data-id="projectAllowed-<%= id %>">More</a>)<br/>
                            <div id="projectAllowed-<%= id %>" style="display:none"></div>
                            <label class="control-label">Number of project (as manager): </label> <span id ="totalProjectManaged-<%= id %>"></span> (<a class="lessMore" data-id="projectManaged-<%= id %>">More</a>)<br/>
                            <div id="projectManaged-<%= id %>" style="display:none"></div>
                            <label class="control-label">Number of annotations : </label> <span id ="totalUserAnnotations-<%= id %>"></span> <br/>
                        </div>
                    </div>
                    <!--<br/>
                    <div id="UserActivitiesHistory-<%= id %>">
                        <h4 class="header_h"> User activities history</h4>
                        <div class="detailedUserInfoWaitingDiv" class="alert alert-info"><i class="glyphicon glyphicon-refresh"/> Loading...</div>
                        <div id="treehistory" class="detailedUserInfoContent">
                        </div>
                    </div>-->

                </div>


            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-default btn-primary"  data-dismiss="modal">Close</a>
            </div>
        </div>
    </div>
</div>
