<div class="col-md-10 col-md-offset-1" style="margin-top:20px">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>Global Configurations</h4>
        </div>
        <br>

        <div class="panel-body">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <label class="control-label">Welcome message :</label>
                </div>
            </div>

            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <textarea id="adminWelcomeMessageEditor" rows="5" style="width: 655px; height: 295px;/*width: 100%; resize: none;*/" placeholder="Enter text ..."></textarea>

                </div>
            </div>

            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                Reading role:
                <select id="configWelcomeRoleList">
                </select>
                </div>
            </div>

            <div class="row">
                <div class="col-md-10 col-md-offset-1" style="text-align: right">
                    <a id="saveWelcomeMessageButton" href="javascript:void(0);" class="btn btn-info">Save</a>
                    <a id="deleteWelcomeMessageButton" href="javascript:void(0);" class="btn btn-danger">Delete</a>
                </div>
            </div>
        </div>
    </div>
</div>