<div class="panel-body">
    <div class="container-fluid">
        <div class="row">
            <button type="button" class="btn-lg btn btn-primary" id="userPermissionsPanelBtn">By User</button>
            <button type="button" class="btn-lg btn" id="domainPermissionsPanelBtn">By Domain</button>
        </div>
        <div id="adminUserPermissionsPanel">
            <div class="container-fluid">
                <div class="row">
                    <h3>Retrieve User</h3>
                    <div class="well">
                        <select id="selectUserForPermission">
                            <option value="-1" class="">(Select a user)</option>
                        </select>
                    </div>

                    <div id="selectedUserPermissions">
                    </div>

                </div>
            </div>        </div>
        <div id="adminDomainPermissionsPanel" style="display:none;">
            <div class="container-fluid">
                <div class="row">
                    <h3>Retrieve Domain</h3>
                    <div class="well">
                        <select id="selectDomainForPermission">
                            <option value="" class="">(Select a domain)</option>
                        </select>
                        <select id="selectDomainIdForPermission" style="display:none">
                        </select>

                        <div id="selectedDomainPermissions">
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
