<div id="admin" style="display: none;padding-top: 10px;" class="container-100">

    <div class="tabbable tabbable-left">
        <ul id="admin-tab" class="nav nav-tabs " style="margin: 0px;">
            <li><a href='#admin-tabs-dashboard' data-toggle='tab'><i class='icon-road' /> Dashboard</a></li>
            <li><a href='#admin-tabs-users' data-toggle='tab'><i class='icon-road' /> Users</a></li>
            <li><a href='#admin-tabs-groups' data-toggle='tab'><i class='icon-road' /> Groups</a></li>
            <li><a href='#admin-tabs-permissions' data-toggle='tab'><i class='icon-road' /> Permissions</a></li>
            <li><a href='#admin-tabs-softwares' data-toggle='tab'><i class='icon-road' /> Softwares</a></li>
            <li><a href='#admin-tabs-config' data-toggle='tab'><i class='icon-road' /> Configuration</a></li>
        </ul>

        <div id="admin-tab-content" class="tab-content" style="display: block; height: 100%">

            <div class="tab-pane" id="admin-tabs-dashboard" style="overflow : auto;padding: 5px;"></div>

            <div class="tab-pane" id="admin-tabs-users" style="overflow : auto;"></div>

            <div class="tab-pane" id="admin-tabs-groups" style="overflow : auto;"></div>

            <div class="tab-pane" id="admin-tabs-permissions" style="overflow : auto;"></div>

            <div class="tab-pane" id="admin-tabs-softwares" style="overflow : auto;"></div>

            <div class="tab-pane" id="admin-tabs-config" style="overflow : auto;"></div>
        </div>

    </div>

    <div id="admin-unauthorized" style="margin: auto;margin-top:300px;max-width:400px;width:auto; display:none;">
        <div class="alert alert-warning">
            <h4 class="alert-heading">Ooops! You are not an admin!</h4>
            It seems you don't have the permission to see this page.
        </div>
    </div>

</div>

