<div class="panel-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-8 main">
                <h3>Retrieve Group</h3>
                <div class="well">
                    <select id="groupList">
                    </select>
                    <span id="noGroup">Pas de groupe</span>
                </div>

                <div id="selectedGroupDetails" style="display : none">


                    <div>
                        <input name="name" type="text" class="form-control" id="editinputGroupname" style="width:auto;" required>
                        <button type="button" id="editGroupNameButton" class="btn btn-primary">Change name</button>
                    </div>


                    <div>
                        <h5>Users in group</h5>
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody id="usersGroupTable">
                            </tbody>
                        </table>
                        <select id="usersNotInGroupList">
                            <option value="">(Select a user)</option>
                        </select>
                        <button id="addUserInGroup" class="btn btn-primary">Add user</button>
                    </div>

                    <div class="pull-right">
                        <button type="button" id="LDAPReset" class="ldap btn btn-danger">Reset from LDAP</button>
                        <button type="button" id="deleteGroupButton" class="btn btn-danger">Delete Group</button>
                    </div>

                </div>

            </div>


            <div class="col-sm-3 main">
                <h3>Add Group</h3>
                <form role="form"  name="addGroupForm" id="addGroupForm" novalidate>

                    <div class="form-group">
                        <label for="inputGroupName">Name</label>
                        <input name="name" type="text" class="form-control" id="inputGroupName" placeholder="Enter name" required>
                        <div class="error" style="display : none"> A value is needed.
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary">Submit</button>
                    <button type="button" id="importFromLDAP" class="ldap btn btn-warning">Import from LDAP</button>
                </form>
                <br/>
            </div>
        </div>
    </div>


</div>
