<div class="panel-body">

    <div class="row">
        <div class="col-md-9 col-md-offset-1">
            <a class="btn  btn-primary" id="AddNewUserBtn"><i class="glyphicon glyphicon-plus"></i>Add new user</a>
        </div>
    </div>


    <br/>

    <div class="row">
        <div style="display:inline-block;width:100%;">
            <div style="width : 90%;margin : auto;">
                <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="usersTable">
                    <thead>
                    <tr>
                        <!--<th data-property="chckbox"></th>-->
                        <th data-property="id">ID</th>
                        <th data-property="Username">Username</th>
                        <th data-property="Lastname">Last name</th>
                        <th data-property="Firstname">First name</th>
                        <th data-property="Role">Role</th>
                        <th data-property="email">E-mail</th>
                        <th data-property="displayingCreatedDate">Created</th>
                        <th data-property="updated">Updated</th>
                        <th data-property="Action">Action</th>
                    </tr>
                    </thead>
                    <tbody id="usersArray">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
