<div id="adminUserDialog" class="modal fade modal-wide">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add User</h4>
            </div>
            <div class="modal-body">

                <form role="form" name="editUserForm" novalidate>
                    <table class="table table-striped">
                        <tbody>

                        <% if (model.id !== undefined) { %>
                        <tr>
                            <td>id</td>
                            <td><%= model.id %></td>
                        </tr>
                        <% } %>
                        <tr>
                            <td>Firstname</td>
                            <td>
                                <input name="firstname" type="text" class="form-control" id="editinputFirstname" value="<%= model.firstname%>" required="">
                            </td>
                        </tr>
                        <tr>
                            <td>Lastname</td>
                            <td>
                                <input name="lastname" type="text" class="form-control" id="editinputLastname" value="<%= model.lastname%>" required="">
                            </td>
                        </tr>
                        <tr>
                            <td>Username</td>
                            <td>
                                <input name="username" type="text" class="form-control" id="editinputUsername" value="<%= model.username%>" required="">
                            </td>
                        </tr>

                        <% if (model.id === undefined) { %>
                        <tr>
                            <td>Password</td>
                            <td>
                                <input name="password" type="password" class="form-control" id="editinputPassword" value="" required="">
                            </td>
                        </tr>
                        <% } %>

                        <tr>
                            <td>Email</td>
                            <td>
                                <input name="email" type="email" class="form-control" id="editinputEmail" value="<%= model.email%>" required="">
                            </td>
                        </tr>

                        </tbody>
                    </table>
                </form>

                <div id="adminUserDialogErrors"></div>

                <% if (model.id !== undefined) { %>
                <h3>Change password</h3>
                <input name="password" type="password" class="form-control" id="editinputResetPassword" style="width:auto;" required="">
                <button type="button" class="btn btn-primary" id="resetPasswordButton" >Change password</button>
                <div id="changePasswordError"></div>
                <% } %>

                <h3>Change role</h3>

                Role:
                <select id="newUserRoleList">
                </select>


            </div>
            <div class="modal-footer">
                <button class="btn btn-default btn-primary" id="adminUserDialogBtn" disabled>Save</button>
                <button class="btn btn-default btn-primary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
