<div class="row row-nomargin">
    <div class="col-md-10 col-md-offset-1">
        <div>
            <h3 class="header_h"> <%= instance %> </h3>
            <div class="row">
                <h4 class="header_h"><i class="glyphicon glyphicon-dashboard" style="margin-top: 5px;"></i> Currently </h4>
                    <div class="col-md-6">
                        <dl class="dl-horizontal" style="margin-left : 0px;">
                            <dt>Online Users</dt><dd id = "statsTotalOnlineUsers"></dd>
                            <dt>Most active project</dt><dd id = "statsMostActiveProject"></dd>
                        </dl>
                    </div>
                    <div class="col-md-6">
                        <dl class="dl-horizontal" style="margin-left : 0px;">
                            <dt>Active projects</dt><dd id = "statsTotalActiveProjects"></dd>
                            <dt>Used storage space</dt><dd id = "statUsedStorage"></dd>
                        </dl>
                    </div>
            </div>
            <div class="row">
                <h4 class="header_h"><i class="glyphicon glyphicon-signal" style="margin-top: 5px;"></i> Total </h4>
                <div class="col-md-6">
                    <dl class="dl-horizontal" style="margin-left : 0px;">
                        <dt>Users</dt><dd><%= users %></dd>
                        <dt>Projects</dt><dd><%= projects %></dd>
                        <dt>Images</dt><dd><%= images %></dd>
                        <dt>Ontologies</dt><dd><%= ontologies %></dd>
                        <dt>Terms</dt><dd><%= terms %></dd>
                    </dl>
                </div>
                <div class="col-md-6">
                    <dl class="dl-horizontal" style="margin-left : 0px;">
                        <dt>Manual annotations</dt><dd><%= userAnnotations %></dd>
                        <dt>Automatic annotations</dt><dd><%= jobAnnotations %></dd>
                        <dt>Softwares</dt><dd><%= softwares %></dd>
                        <dt>Jobs</dt><dd><%= jobs %></dd>
                    </dl>
                </div>
            </div>
            <div class="graphs">
                <div class="graph" id="lastConnectionsGraph"></div>
                <div class="graph" id="avgConnectionsGraph"></div>
                <div class="row" id="lastAnnotationsGraph"></div>
            </div>
        </div>
    </div>
</div>