<div id="addImageGroupToProjectProject" class="modal fade modal-wide">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><%= name %></h4>
            </div>
            <div class="modal-body">
                <div class="projectAddImageGroup">
                    <form id="add-image-group">
                    Name :   <input type="text" id="group-name"><br>
                    Add All image from project :   <input type="checkbox" id="add-all" value="add-all"><br>
                    </form>
                    <a id="add-image-group-sub" href="#" class="btn btn-default btn-primary" style="float: right;">Create</a>
                </div>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-default btn-primary"  data-dismiss="modal">Close</a>
            </div>
        </div>
    </div>
</div>
