<div id="tabs-projectImageGroupListing<%= id %>" style="min-height:700px;display:inline-block;width:100%;">
    <div style="width : 90%;margin : auto;">

        <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="imageGroupProjectTable<%= id %>">
            <thead>
            <tr><th data-property="name">Name</th>
                <th data-property="macroURL">Preview</th>
                <th data-property="channel">Channels</th>
                <th data-property="zstack">Zstack</th>
                <th data-property="slice">Slice</th>
                <th data-property="time">Time</th>
                <th data-property="action">Delete</th>
            </tr>
            </thead>
            <tbody id="imageGroupProjectArray<%= id %>">
            </tbody>
        </table>
        </div>
</div>
