<div id="tabs-projectImageListing<%= id %>" style="min-height:700px;display:inline-block;width:100%;">
    <div style="width : 90%;margin : auto;">

        <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="imageProjectTable<%= id %>">
            <thead>
            <tr><th data-property="id">ID</th>
                <th data-property="thumb">Preview</th>
                <th data-property="Name">Name</th>
                <th data-property="width">Width (px)</th>
                <th data-property="height">Height (px)</th>
                <th data-property="magnification">Magnitude</th>
                <th data-property="resolution">Resolution (µm/pixel)</th>
                <th data-property="numberOfAnnotations">User an.</th>
                <th data-property="numberOfJobAnnotations">Algo an.</th>
                <th data-property="numberOfReviewedAnnotations">Valid an.</th>
                <th data-property="mime">Vendor</th>
                <th data-property="created">Created</th>
                <th data-property="status">Status</th>
                <th data-property="action">Action</th>
            </tr>
            </thead>
            <tbody id="imageProjectArray<%= id %>">
            </tbody>
        </table>
    </div>

</div>
