<div id="detailedUploadedFileTreeDialog-<%= id %>" class="modal fade modal-wide">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Detailed informations on uploaded file <%= originalFilename %></h4>
            </div>
            <div class="modal-body">
                <p></p>
                <% if (parentFilename) { %>
                <div class="col-md-4 col-md-offset-8">
                    <button class='detailsUploadedFile btn btn-info' data-ufid='<%= parentId %>'>From <%= parentFilename %></button>
                </div>
                <% } %>
                <div class="col-md-9 col-md-offset-1">
                    <h4 class="header_h"> File Tree</h4>
                    <div id="treefile"  class="detailedUploadedFileTree">
                    </div>
                </div>

                <div class="col-md-9 col-md-offset-1">
                    <h4 class="header_h"> Preview</h4>
                    <div style="text-align: center;">
                        <img id="filePreview">
                    </div>
                </div>

            </div>

            <div class="modal-footer">
                <a href="#" class="btn btn-default btn-primary"  data-dismiss="modal">Close</a>
            </div>
        </div>
    </div>
</div>
